/node_modules
dev
build


api-config.js

.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc
.env
.idea
.vscode
*.sublime-project
*.sublime-workspace

package-lock.json
.eslintcache
npm-debug.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*
